*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: #333;
    margin-bottom: 30px;
}
nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  .add{
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  .add p{
    color: white;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

.card{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    margin-bottom: 30px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container{
    width: 80%;
    margin: 0 auto;
}
form{
    display: flex;
    margin-left: 150px;
}
